{% extends "search/base.html" %}
{% load static %}
{% block content %}

<form action="{% url 'search:home' %}" method="GET">
  {{ form }}
  <input type ="submit" value="Submit">
</form>


{% if all_cars %}
  <ul>
    {% for car in all_cars %}
    <li><a href="{% url 'search:car_detail' car.car_id %}">Make: {{car.car_make}}</a></li>
    <li><a href="{% url 'search:car_detail' car.car_id %}">Model: {{car.car_model}}</a></li>
    <li><a href="{% url 'search:car_detail' car.car_id %}">Price: {{car.car_price_new}}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <h3>No cars in database<h3>
{% endif %}
{% endblock content%}
