{% extends "search/base.html" %}
{% load static %}
{% block content %}
<form action="{% url 'search:home' %}" method="GET">
  {{ form }}
  <input type ="submit" value="Submit">
</form>
{% if car_query_list %}
  <ul>
    {% for car in car_query_list %}
    <ul><a href="{% url 'search:car_detail' car.car_id %}">{{car.car_make}} {{car.car_model}} {{car.car_series}} {{car.car_series_year}} ${{car.car_price_new}}</a></ul>
    {% endfor %}
  </ul>
{% else %}
  <h3>No cars match your query<h3>
{% endif %}
{% endblock content%}
